<h1>ToDo List</h1>
<div class="row">

	<div class="col-md-6">
		<p>Tasks: {{tasks.length}}</p>
		<div class="list-group">
			<a 	
			*ngFor="let item of tasks" 
			href="#" 
			class="list-group-item test list-group-item-action"
			[class.done-task]="item.done">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{item.title}}</h5>
					<small>{{item.done ? 'done' : 'undone'}}</small>
				</div>
				<p class="mb-1">{{item.description}}</p>
				<button (click)="onTaskClick(item)" class="btn btn-success mr-2"><i class="fa fa-check"></i></button>
				<button (click)="onTaskDelete(item)" class="btn btn-danger mr-2"><i class="fa fa-trash"></i></button>
				<button (click)="onTaskEdit(item)" class="btn btn-secondary"><i class="fa fa-edit"></i></button>
			</a>
		</div>
	</div>

	<div class="col-md-6">
		<form (submit)="onFormSubmit()" >
			<div class="form-group">
				<label for="newTask">Task name:</label>
				<input [(ngModel)]="newTask.title" name="newTask" type="text" class="form-control" id="newTask">
			</div>
			<div class="form-group">
				<label for="newTaskDescription">Task description:</label>
				<textarea [(ngModel)]="newTask.description" class="form-control" name="newTaskDescription" id="newTaskDescription" rows="3"></textarea>
			</div>
			<button *ngIf="!editMode" type="submit" class="btn btn-primary">Submit</button>
			<button *ngIf="editMode" (click)="onDoneClick()" type="button" class="btn btn-primary">Done</button>
		</form>
	</div>

</div>