<h1>BakuBus</h1>
<div class="form-group">
	<label for="bus">Bus number:</label>
	<select [(ngModel)]="busNumber" name="bus" id="bus" class="form-control">
		<option value="all">All</option>
		<option *ngFor="let number of busNumbers" [value]="number">{{number}}</option>
	</select>
</div>
<agm-map [latitude]="lat" [longitude]="lon" [zoom]="11">
	<agm-marker 
		*ngFor="let bus of busses | busNumber:busNumber" 
		[latitude]="bus.LATITUDE" 
		[longitude]="bus.LONGITUDE"
		[label]="bus.DISPLAY_ROUTE_CODE">
	</agm-marker>
</agm-map>