<div class="container my-4">
	<app-baku-bus></app-baku-bus>
	<hr>
	<app-converter></app-converter>
	<hr>
	<app-todo></app-todo>
	<hr>
	<app-counter></app-counter>
</div>






<!-- <app-counter></app-counter> -->

<!-- <h1>Hello, {{title.toUpperCase()}}!</h1> -->
<!-- <h2>{{num1}} + {{num2}} = {{num1 + num2}}</h2> -->

<!-- <img src="{{image}}" alt="cat"> -->
<!-- <img [src]="image" alt="cat"> -->

<!-- <button (click)="onButtonClick()">Click me!</button> -->

<!-- <app-counter></app-counter> -->

<!-- <input type="text" [(ngModel)]="title"> -->